.not-to-big img {
    height: auto;
    max-width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 1024px) {
    .not-to-big img {
        max-width: 75%;

    }
}

/* @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .not-to-big img {
        max-width:75%;
    }
} */
