.mobile-screen img {
    height: auto;
    max-width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.desktop-screen img {
    height: auto;
    max-width: 75%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 1024px) {
    .mobile-screen img {
        max-width: 75%;

    }
}

/* @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .mobile-screen img {
        max-width:75%;
    }
} */

.has-vertical-button button {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    vertical-align: bottom;
}
.has-vertical-button button span {
    padding-top: .5rem;
}

footer ul li a[href="https://github.com/sponsors/Bubka"] svg {
    color: #db61a2;
}

.expected::after {
    content: ' *';
    --tw-text-opacity: 1;
    color: rgb(95 160 255/var(--tw-text-opacity));
}
*
.mandatory::after {
    content: ' *';
    --tw-text-opacity: 1;
    color: rgb(211 38 38/var(--tw-text-opacity));
}